/* Make label help spans blocks. */
.field-prefix {
  display: block;
}

.krumo-nest li.krumo-child li a {
  margin-left: 1rem;
}

.krumo-nest li.krumo-child li li a {
  margin-left: 2rem;
}

.krumo-nest li.krumo-child li li li a {
  margin-left: 3rem;
}

.krumo-nest li.krumo-child li li li li a {
  margin-left: 4rem;
}

.krumo-nest li.krumo-child li li li li li a {
  margin-left: 5rem;
}

.krumo-nest li.krumo-child li li li li li li a {
  margin-left: 6rem;
}

.krumo-nest li.krumo-child li li li li li li li a {
  margin-left: 7rem;
}

/* Sizes autocomplete deluxe item field */
body.adminimal-theme .autocomplete-deluxe-item {
  height: auto;
}

/* Fixed form action buttons */
body.adminimal-theme.fixed-actions {
  padding-bottom: 2em;
}
.fixed-actions #overlay-content {
  padding-bottom: 4em;
}
.fixed-actions #edit-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: solid 1px #666;
  padding: 1em 40px 0;
  margin: 0;
  box-shadow: 0 0 10px #000;
  z-index: 100;
}
.fixed-actions #overlay-content #edit-actions {
  padding: 1em 6% 0;
}
/* undo most of the above for the module_filter module changes to work */
.fixed-actions #module-filter-wrapper #edit-actions {
  position: inherit;
  border-top: inherit;
  width: inherit;
  box-shadow: inherit;
  padding: inherit;
  left: inherit;
}
body.navbar-vertical.navbar-fixed #edit-actions.form-actions.form-wrapper {
  padding: 1em 4em 0 16rem;
}
/* Fix for AJAX Throbber floating to the right and form elements below field which triggered the AJAX activity to jump */
.ajax-progress-throbber {
  float: none;
}

/* Don't hide image style previews */
#image-style-form #edit-preview {
  display: inherit;
}
/* Hide delete button */
.page-node #edit-delete {
  display: none;
}

/* Different styling for second error messages*/
form .messages.error {
  background-image: none;
  margin: 6px 0;
  padding: 10px;
}

/* Monotype font for setting promo item block visibility */
.field-name-field-block-visibility .form-textarea {
  font-family: courier, "courier new", monospace;
}

/* Additional action link icons */
ul.action-links a.action-link-rearrange {
  background-image: url(../images/rearrange.png);
  padding-left: 20px; /* LTR */
}

ul.action-links a.action-link-pdf {
  background-image: url(../images/pdficon_small.png);
  padding-left: 20px; /* LTR */
}

/* form required label */
.form-required span {
  font-weight: normal;
  font-size: .85em;
  padding-right: 6px;
  text-transform: none;
}

/* Properly indent fieldset descriptions */
.fieldset-description {
  padding-left: 15px;
}

/* For fields that use a fieldset legend as the title, make that legend bold */
fieldset.fieldset-invisible > legend:first-child {
  font-weight: bold;
}

/* Add a way to highlight the current page in a list of secondary links */
ul.secondary li a.current-page {
  background-color: #000;
  color: #fff;
}

/* For highlighted information in autocompletes */
small.highlight {
  color: #900;
  background: #ffc;
  padding: 2px;
  margin: -2px 0;
}

/* Make label for "office hours" day of week wider so that "Wednesday" is not tight/overlapping */
td div.office-hours-block label {
  width: 6.5em;
}
/* Make the h2 on the Dashboard match the My workbench h3 */
#dashboard .dashboard-region div.block h2 {
  font-size: 1.4em;
}

/* FDSU-961: Make settings tabs and boxes more responsive. */
/* For URL redirects where there is a table, add scroll bars */
.edit-redirect ~ table {
  width: 100%;
  overflow: auto;
}

/* Change width of settings tabs and give max-width */
div.vertical-tabs .vertical-tabs-list {
  border-bottom: 1px solid #ccc;
  float: left;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 30%;
  max-width: 240px;
}

/* Change padding and margins of settings boxes */
div.vertical-tabs .vertical-tabs-panes {
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  overflow: auto;
}

/* Removed backgrounds on settings tabs */
div.vertical-tabs {
  background: none;
  border: 1px solid #ccc;
  margin: 10px 0;
  position: relative;
}

/* Allow input boxes to be responsive, set width and max-width. */
.vertical-tabs .form-type-textfield input {
  width: 100%;
  max-width: 400px;
}

/* Remove scroll bar from image and file uploaders */
#edit-field-file .overflow-fix,
#edit-field-image .overflow-fix {
  overflow: visible;
}


/* Make spaces behave normally so that long lines can wrap properly for responsive. */
ul.tips,
div.description,
.form-item div.description,
.field-type-field-collection td {
  white-space: normal;
}

.mq-tablet .dashboard-news-date {
  width: 100%;
}
.mq-mobile .dashboard-news-date {
  width: 100%;
}

/* Indent role expiry sections */
#edit-account .form-item-roles div[class*=form-item-role-expire-] {
  padding-left: 1.5em;
}

/* Back to top link for homepage settings page*/
.page-admin-settings-uw-conference-homepage #page {
  padding: 20px 40px 60px 40px;
}

/* Back to top link for homepage settings page*/
.page-admin-settings-uw-conference-homepage a.back-to-top {
  display: block;
  text-align: right;
}

/* Homepage settings and conference settings of conference site*/
div.description.label-description,
span.field-prefix {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

.field-type-image div.description.label-description,
.field-type-link-field div.description.label-description {
  font-size: 0.6em;
  font-weight: normal;
}

div.form-item.form-type-textarea.form-item-body-und-0-summary {
  margin-bottom: 1em;
}

#uw-conference-admin-homepage-settings span.field-prefix,
#uw-conference-admin-settings span.field-prefix {
  display: block;
}

#uw-conference-admin-homepage-settings div.form-type-checkbox,
#uw-conference-admin-homepage-settings div.form-type-textarea,
#uw-conference-admin-settings div.form-type-checkbox,
#uw-conference-admin-settings div.form-type-textarea {
  margin-top: 1.4em;
}

/* Image field required field inline for conference site*/
.field-type-image legend label {
  display: inline;
}
#uw-conference-admin-homepage-settings div.form-type-textarea,
#uw-conference-admin-settings div.form-type-textarea {
  margin-bottom: 1.4em;
}

#uw-conference-admin-homepage-settings div.form-type-checkbox div.description,
#uw-conference-admin-settings div.form-type-checkbox div.description {
  margin-left: 0;
}

#uw-conference-admin-homepage-settings div.fieldset-description,
#uw-conference-admin-settings div.fieldset-description {
  margin: 0 0 1em -1em;
}

/* Make highlighted facts a bit cleaner by making some fields display on the same line when possible. */
.field-name-field-eff-hf-text-text,
.field-name-field-eff-hf-text-type-of-text {
  float: left;
  margin-right: 2em;
}

/* Make sure nothing ends up in the middle of nowhere. */
.field-name-field-eff-hf-fact-points,
.field-name-field-eff-hf-text-text,
.group-eff-hf-fact-point {
  clear: both;
}

/* Make sure things don't explode out of containers. */
.field-name-field-eff-hf-text-text,
.field-name-field-eff-hf-text-text input {
  max-width: 100%;
}
/* Make highlighted facts a bit cleaner moving the "remove" button to the right and roughly vertically centering it. */
.field-name-field-eff-hf-text table .form-submit {
  float: right;
  margin-top: 2em;
}

/* Make documentation link stand out. */
.uw-documentation {
  border: 1px solid #ccc;
  margin-top: 0.5em;
  padding: 0.5em;
}

/* Push paginator above fixed position "save" bar. */
.item-list .pager {
  margin-bottom: 2em;
}

/* Make the embedded timeline admin screen a touch nicer. */
#uw-embedded-timeline-node-form .field-name-field-timeline-date,
#uw-embedded-timeline-node-form .field-name-field-timeline-headline {
  float: left;
  margin-right: 1em;
}
#uw-embedded-timeline-node-form .field-name-field-image-photo {
  clear: both;
}
#uw-embedded-timeline-node-form .image-preview {
  float: left;
}
#uw-embedded-timeline-node-form .field-name-field-image-photo .image-widget {
  float: left;
  margin-right: 1em;
}
/* Stop some weird stuff from happening on narrower screens. */
#uw-embedded-timeline-node-form td {
  text-align: left;
}
#uw-embedded-timeline-node-form td[data-title]::before {
  content: none;
}

/* Narrow screens (max width 979px) ----------- */
@media only screen and (max-width : 979px) {
  /* Upload a file and Upload an image fields */
  .fieldset-wrapper td {
    width: 280px;
  }
  .file-widget input[type="text"] {
    width: 60%;
    max-width: 979px;
  }
  #edit-field-file-en-table td {
    width: 38%;
    max-width: 979px;
  }
  tr.odd .file-widget .form-item,
  tr.even .file-widget .form-item {
    white-space: normal;
  }
}

/* Narrow screens (max width 800px) ----------- */
@media only screen and (max-width: 800px) {
  /* TABLES */
  /* Table responsiveness, javascript used to place data-title attributes in table rows */
  table {
    width: 100%;
    margin-bottom: 1.5em;
  }

  table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  table thead th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  table thead th:first-of-type {
    text-align: left;
  }

  table tbody,
  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  table th,
  table td {
    padding: .5em;
    vertical-align: middle;
  }

  table tbody td {
    min-height: 25px;
  }

  table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  table tfoot {
    font-size: .8em;
    font-style: italic;
  }

  table tbody tr {
    margin-bottom: 1em;
    border: 2px solid black;
  }

  table tbody tr:last-of-type {
    margin-bottom: 0;
  }

  table tbody th[scope="row"] {
    background-color: #1d96b2;
    color: white;
  }

  table tbody td {
    text-align: right;
    text-overflow: ellipsis;
  }

  table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-weight: bold;
    color: black;
    text-align: right;
  }

  /* Case specific for selects that were out of table bounds */
  table select.form-select {
    width: 100%;
  }

  /* Case specific for modules table */
  td.checkbox,
  th.checkbox {
    text-align: right;
  }

  /* Case specific for permissions table */
  #permissions td.permission {
    padding: .5em;
  }

  /* Case specific for anything that has draggable order */
  .tabledrag-handle {
    display: none;
  }

  /* Case specific for facts and figures */
  .field-name-field-fact-figure table tbody td {
    text-align: left;
  }

  /* END TABLES */

  /* Writing tips area will be move to above body part. */
  #web-page-body-wrapper {
    display: flex;
    flex-flow: column;
  }
  .uw_tips_container {
    order: 2;
    width: 100%;
  }
  .uw_tips_content {
    order: 1;
    width: 100%;
    margin: 0 0 8px;
  }
  #edit-account .password-indicator {
    width: 75%;
  }
  #edit-account .password-strength-text {
    width: 40%;
  }
  #edit-account .form-item .password-suggestions,
  #edit-account .form-item .description,
  #edit-account #edit-mail {
    width: 80%;
  }
}

/* Adjust the padding on the save/cancel buttons to match the padding on the vertical tab panes */
@media only screen and (max-width : 480px) {
  /* FDSU-965: fix for menu overlapping content when really narrow */
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }

  /* Padding on save/cancel buttons */
  body.navbar-vertical #edit-actions.form-actions.form-wrapper {
    padding: 12px;
  }

  /* User edit page: Password and Confirm password */
  /* Password strength and Passwords match width */
  #edit-account .password-strength,
  #edit-account .password-confirm {
    width: 100%;
  }

  /* Password and Confirm password input width */
  #edit-account input[type="password"] {
    width: 74%;
  }
  #edit-account .password-indicator {
    width: 78.5%;
  }

  /* Password strength text: weak, fair, good, strong */
  #edit-account .password-strength-text {
    width: 30%;
    display: inline;
  }

  /* Password suggestions' text */
  #edit-account .form-item div.password-suggestions,
  #edit-account .form-type-password-confirm .description {
    width: 75%;
  }

  /* Upload a file and Upload an image fields */
  .fieldset-wrapper td {
    width: 180px;
  }
  .file-widget input[type="text"] {
    width: 60%;
    max-width: 480px;
  }
  #edit-field-file-en-table td {
    width: 38%;
    max-width: 480px;
  }
}

/* Narrow screens (max width 400px) ----------- */
@media only screen and (max-width : 400px) {

  /* For Dashboard tab */
  #dashboard .dashboard-region div.block h2 {
    font-size: 1.2em;
  }
  #dashboard div#dashboard_main {
    width: 100%;
  }

  #dashboard div#dashboard_sidebar {
    width: 100%;
  }

  div .contextual-links-region {
    padding-bottom: 10px;
  }

  /* For My Workbench tab*/

  /* Force table to not be like tables anymore */
  .page-admin-workbench .my-workbench table,
  .page-admin-workbench .my-workbench thead,
  .page-admin-workbench .my-workbench tbody,
  .page-admin-workbench .my-workbench th,
  .page-admin-workbench .my-workbench td,
  .page-admin-workbench .my-workbench tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .page-admin-workbench .my-workbench thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .page-admin-workbench .my-workbench tr {
    border: 1px solid #ccc;
  }

  .page-admin-workbench .my-workbench td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 5%;
  }
  .page-admin-workbench .my-workbench td:before {
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data*/
  .page-admin-workbench .my-workbench td:nth-of-type(1):before {
    content: "Title";
  }
  .page-admin-workbench .my-workbench td:nth-of-type(2):before {
    content: "Type";
  }
  .page-admin-workbench .my-workbench td:nth-of-type(3):before {
    content: "Author";
  }
  .page-admin-workbench .my-workbench td:nth-of-type(4):before {
    content: "Last Updated";
  }
  .page-admin-workbench .my-workbench td:nth-of-type(5):before {
    content: "Last Updated by";
  }
  .page-admin-workbench .my-workbench td:nth-of-type(6):before {
    content: "Action";
  }

  /* For writer tips on web page */
  .page-node-add .uw_tips_content {
    width: 75%;
    margin-bottom: 2.2em;
    margin-left: 0px;
    float: left;
  }

  /* User edit page: Password and Confirm password */
  /* Password strength and Passwords match width */
  #edit-account .password-strength,
  #edit-account .password-confirm {
    width: 100%;
  }

  /* Password and Confirm password input width */
  #edit-account input[type="password"] {
    width: 50%;
    max-width: 400px;
  }
  #edit-account .password-indicator {
    width: 54%;
  }

  /* Password strength text: weak, fair, good, strong */
  #edit-account .password-strength-text {
    width: 54%;
    display: inline;
  }

  /* Password suggestions' text */
  #edit-account .form-item div.password-suggestions,
  #edit-account .form-type-password-confirm .description {
    width: 54%;
  }

  /* Upload a file and Upload an image fields */
  .fieldset-wrapper td {
    width: 150px;
  }

  .file-widget input[type="text"] {
    width: 60%;
    max-width: 400px;
  }
  #edit-field-file-en-table td,
  #edit-field-image-en-table td {
    width: 38%;
    max-width: 400px;
  }
  #edit-field-image .image-widget-data .insert-style,
  #edit-field-image .form-type-textfield input,
  #edit-field-event-image .form-type-textfield input,
  #edit-field-file .form-type-textfield input,
  #edit-field-file .form-managed-file input {
    width: 99%;
  }
}

/* Adjustments for printing */
@media print {
  .fixed-actions #edit-actions {
    position: relative;
    width: auto;
  }
}

/**
 * ISTWCMS-2766: adding admin CSS from modules
 */

/* Contact */
.field-name-field-contact-image .text-format-wrapper {
  display: none;
}

/* Service */
.field-name-field-service-available,
.field-name-field-service-audience,
.field-name-field-service-notice,
.field-name-field-service-length,
.field-name-field-service-hours {
  margin: 0 0 1em;
}
.field-name-field-service-available .field-items .field-item {
  padding-left: 1.5em;
}
.field-name-field-service-location,
.field-name-field-service-contact,
.field-name-field-service-owner {
  margin: 0 0 1em;
}

.field-name-field-service-category,
.field-name-field-service-tags,
.field-name-field-date-closed,
.field-name-field-hours-notice,
.field-name-field-service-status,
.field-name-field-hours-change,
.field-name-field-service-support-services,
.field-name-field-service-dependent-services,
.field-name-field-service-business-critical {
  margin-bottom: 1em;
}

fieldset.group-service-hidden {
  border-top: 3px solid red;
}

.group-service-hidden legend {
  background-color: yellow;
}
